<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - excretory</title>
        {% else %}
        <title>Welcome to exy homepage</title>
        {% endif %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li>
                        <a
                            href="{{ url_for('user', username=current_user.username) }}"
                            >My profile</a
                        >
                    </li>
                    <li>
                        {% if current_user.is_anonymous %}
                        <a href="{{ url_for('login') }}">Sing In</a>
                        {% else %}
                        <a href="{{ url_for('logout') }}">Exit</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </header>
        <hr />
        <main>
            {% with messages = get_flashed_messages() %} {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %} {% endwith %} {% block content %} {% endblock %}
        </main>
    </body>
</html>
